footer {
  
    background-color: #333;
    height: 30px;
    color: white; 
    padding: 10px;
  
  }
  
  
  .footer-content {
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center; /* Centraliza verticalmente os elementos */
  }
  
  
  .footer-content p { 
    font-size: x-small;
    display: flex; 
    margin-top: 30px;  
  }
  
  
  .footer-content a {
    margin-left: 10px;  
  }
  
  a:hover {
    color: #1cb850;
  }
  
  
  @media (max-width: 600px) {
   
    .footer-content p, .footer-content a {
        margin-block: 10px;
    }
  
    .footer-content a {
        align-self: center; /* Centraliza o link no footer */
        font-size: medium;
    }
  
    .footer-content p { 
      font-size: x-small;
      display: flex; 
      margin-top: 0px;  
     
    }
  }