/*home*/
body {
  background-color: #e1e6eb3e;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-principal {
  max-width: 100vw;
  display: inline;
}

header {
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  border-bottom: 1px solid #ccc;
}

header a {
  margin: 0;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  margin-right: 2rem; /* Espaço entre os links */
}

/* Estilo do logo */
header > a {
  font-size: 2rem;
  font-weight: bold;
}

/* Estilo da navbar */
.navbar {
  display: flex;
  flex-wrap: wrap; /* Ajusta a quebra de linha em dispositivos menores */
  margin-right: 1rem;
}

/* esconde o icones da nav em telas pequenos */
nav .icon {
  display: none;
}

/* mudar a cor dos links on hover */
.navbar a:hover {
  color: #2ab300;
}

/*style banner*/
.banner-home {
  width: 100vw;
  height: 30vh;
}

.baner-detalhes {
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20rem;
  padding-bottom: 3rem;
  margin-bottom: 6rem;
  font-size: 3rem;
  color: rgb(69, 237, 122);
}

/*pd para criar uma divisão entre o banner e os demais itens*/
.pd-40-bg-gray {
  display: flex;
  background-color: rgba(128, 128, 128, 0.194);
  height: 2rem;
  padding-bottom: 3rem;
  margin-left: 0rem;
}

/*imagens*/

.conteúdo-principal {
  width: 100vh;
  width: 100vw;
  margin-top: -50px;
  overflow: hidden;
}

/* esconde o icones da nav em telas pequenos */
nav .icon {
  display: none;
}

/* mudar a cor dos links on hover */
.navbar a:hover {
  color: #2ab300;
}

/*style do hero*/
.hero {
  background-image: url(img/hero-image.jpg);
  background-size: cover; /* Faz com que a imagem cubra toda a área do body */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center; /* Centraliza a imagem no body */
  height: 40vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.descricaoImovel p {
  font-size: 3rem;
}

/*sliders*/

.slider {
  width: 800px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -14.56%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

#radio6:checked ~ .first {
  margin-left: -100%;
}

#radio7:checked ~ .first {
  margin-left: -120%;
}

/* Manual Navigation */
.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #fff;
}

#radio1:checked ~ .manual-navigation .manual-btn:nth-child(1) {
  background: #fff;
}

#radio2:checked ~ .manual-navigation .manual-btn:nth-child(2) {
  background: #fff;
}

#radio3:checked ~ .manual-navigation .manual-btn:nth-child(3) {
  background: #fff;
}

#radio4:checked ~ .manual-navigation .manual-btn:nth-child(4) {
  background: #fff;
}

#radio5:checked ~ .manual-navigation .manual-btn:nth-child(5) {
  background: #fff;
}

#radio6:checked ~ .manual-navigation .manual-btn:nth-child(6) {
  background: #fff;
}

#radio7:checked ~ .manual-navigation .manual-btn:nth-child(7) {
  background: #fff;
}

/* Responsivo para telas abaixo de 768px */
@media (max-width: 768px) {
  .slider {
    width: 100%;
    height: 300px; /* Reduz a altura do slider */
  }

  .slides {
    width: 700%; /* Ajusta a largura das slides para comportar mais slides em telas pequenas */
  }

  .slide {
    width: 14.28%; /* Ajusta a largura das slides para caberem na tela menor */
  }

  .manual-navigation {
    width: 100%;
    margin-top: -20px; /* Ajusta a posição da navegação manual */
  }

  .manual-btn:not(:last-child) {
    margin-right: 20px; /* Reduz o espaçamento entre os botões de navegação */
  }

  /* Centralizar textos */
  .text-center,
  .slide,
  .manual-navigation {
    text-align: center;
  }

  .manual-btn {
    display: inline-block;
    margin: 0 auto;
  }
}
/*text box*/

.text-boxes {
  display: grid;
  grid-auto-rows: auto;
  gap: 2rem;
}

.text-box {
  color: rgb(255, 255, 255);
  border: #124a43 solid 2px;
  border-radius: 15px;
  margin: 1rem;
  background-color: rgb(160, 156, 156);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 2rem;
  font-size: 3rem;
}

.descricaoImovel {
  text-indent: 20px;
  padding-block: 10px;
  margin: 20px;
  justify-content: center;
  text-align: justify;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 90px;
  line-height: 60px;
}

/*style footer*/
.footer-content {
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: space-between; /* Espaço entre os elementos */
  align-items: center; /* Centraliza verticalmente os elementos */
  background-color: #333;
  padding-bottom: 0rem auto;
}

.footer-content p {
  font-size: x-small;
  display: flex;
  margin-top: 1rem;
  color: #ffffff;
  margin-left: 1rem;
}

.footer-content a {
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  color: #ffffff;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-block: 1rem;
  align-self: center; /* Centraliza o link no footer */
}

a {
  margin-right: 20px;
}

a:hover {
  color: #1cb850;
}

/* Estilos para Mobile */

/* O "responsive" class é adicionada a nav com JavaScriptquando usado clicks no icone. */
@media (max-width: 768px) {
  body {
    background-color: #ccc;
    background-size: contain; /* Ajusta para que a imagem fique toda visível, sem cortar */
    background-position: top; /* Alinha a imagem ao topo */
  }
  .navbar {
    flex-direction: column; /* Alinha os links verticalmente */
    display: none;
    width: 100vw; /* Largura completa do menu */
    top: 60px; /* Posiciona abaixo do header */
    left: 0;
    background-color: #333; /* Cor de fundo do menu */
    position: absolute;
  }

  .navbar a {
    margin: 0.5rem 0; /* Espaçamento entre os links */
    text-align: right;
  }

  /* Exibe o ícone do menu em telas menores */
  .icon {
    display: block;
    font-size: 4rem;
    cursor: pointer;
    color: #fff; /* Cor do ícone */
  }

  /* Exibe a navbar quando o menu é clicado */
  .navbar.responsive {
    display: flex;
  }

  .navbar.responsive a {
    float: none;
    text-align: right;
  }

  /* Estilo do logo */
  header > a {
    font-size: 1rem;
  }

  .baner-detalhes {
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    color: rgb(69, 237, 122);
  }

  .text-boxes {
    gap: 1rem; /* Reduz o espaçamento entre as caixas de texto */
  }

  .text-box {
    font-size: 1rem; /* Reduz o tamanho da fonte para melhor visualização em telas menores */
    margin: 0.2rem;
    padding-block: 0.5;
    width: 75vw;
  }

  .footer-content p {
    font-size: 0.3rem;
    display: flex;
    margin-top: 1rem;
    color: #ffffff;
    margin-left: 0rem;
  }

  .footer-content a {
    text-decoration: none;
    margin-top: 0rem;
    color: #ffffff;
    margin-left: 0.1rem;
    margin-right: 1.2rem;
    padding-block: 0rem;
    font-size: 0.8rem;
  }
}
