body {
  display: grid;
  background-color: #b6b2b2;
  height: 100vh; /* Garante que o body ocupe 100% da altura da viewport */
  margin: 0; /* Remove margens */
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  border-bottom: 1px solid #ccc;
}

header a {
  margin: 0;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  margin-right: 2rem; /* Espaço entre os links */
}

/* Estilo do logo */
header > a {
  font-size: 2rem;
  font-weight: bold;
}


/* Estilo da navbar */
.navbar {
  display: flex;
  flex-wrap: wrap; /* Ajusta a quebra de linha em dispositivos menores */
  margin-right: 1rem;
  
}

/* esconde o icones da nav em telas pequenos */
nav .icon {
  display: none;
}

/* mudar a cor dos links on hover */
.navbar a:hover {
  color: #2ab300;
}
  
  /*style do hero*/
  .hero {
    background-image: url("img/hero3.jpg");
    background-size: cover; /* Faz com que a imagem cubra toda a área do body */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center center; /* Centraliza a imagem no body */
    height: 40vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  
.container2 h1 {
  text-align: center;
  font-size: 3rem; 
  margin: 8rem;
}

h2 {
 
  font-size: 2rem;
  color: #ebfaed;

}

/*stile do form*/

.container-Contato {
  margin-bottom: 2rem;
  background-image: url('img/call-center.webp');
  background-size: cover; /* Faz com que a imagem cubra toda a área do body */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center center; /* Centraliza a imagem no body */
  height: 100vh; /* Garante que o body ocupe 100% da altura da viewport */
  margin: 0; /* Remove margens */

}

form button {
  padding: 1rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 5rem; /* Define um tamanho fixo para os botões */
  margin-block: 1rem;
}

/* Estilo para o botão Enviar */

form button[type="submit"] {
  background-color: #4caf50; /* Verde */
  color: white;
}



/* Estilo ao passar o mouse */
form button:hover {
  opacity: 0.8;
}

.imóveis option {
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40vw;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-block: 1rem;
}

.input,
select,
textarea {
  border: 1px solid rgb(79, 78, 75);
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 1rem;
}

.footer {
  background-color: #333;
  padding: 0px;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Espaço entre os elementos */
  align-items: center; /* Centraliza verticalmente os elementos */
  background-color: #333;
}

.footer-content p {
  font-size: x-small;
  display: flex;
  margin-top: 1rem;
  color: #ffffff;
  margin-left: 1rem;
}

.footer-content a {
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  margin-top: 1rem;
  color: #ffffff;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-block: 1rem;
  align-self: center; /* Centraliza o link no footer */
  
}

.footer-content a:hover {
  color: #1cb850;
}

.footer-content p {
  font-size: 0.5rem;
  display: flex;
  margin-top: 0rem;
}



/* Estilos para Mobile */

/* O "responsive" class é adicionada a nav com JavaScriptquando usado clicks no icone. */
  @media (max-width: 768px) {
    body {
        background-size: contain; /* Ajusta para que a imagem fique toda visível, sem cortar */
        background-position: top; /* Alinha a imagem ao topo */
    }
    .navbar {
      flex-direction: column; /* Alinha os links verticalmente */
      display: none; 
      width: 100vw; /* Largura completa do menu */
      top: 60px; /* Posiciona abaixo do header */
      left: 0;
      background-color: #333; /* Cor de fundo do menu */
      position: absolute;
  }
  
  .navbar a {
      margin: 0.5rem 0; /* Espaçamento entre os links */
      text-align: right; 
  }
  
  /* Exibe o ícone do menu em telas menores */
  .icon {
      display: block; 
      font-size: 4rem;
      cursor: pointer;
      color: #fff; /* Cor do ícone */
  }

/* Exibe a navbar quando o menu é clicado */
.navbar.responsive {
  display: flex;
}

.navbar.responsive a {
  float: none;
  text-align: right;
}

/* Estilo do logo */
header > a {
  font-size: 1rem;
}

  .container2 h1 { 
    text-align: center;
    font-size: 1.5rem; 
    margin: 1rem;
  }
  
  h2 {
    font-size: 0.9rem;
  } 

  .hero {
    background-image: url("img/hero3.jpg");
    height: 30vh;
  }


  form {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 80vw;
    margin: 0 auto;
  }

  form button {
    margin-block: 1rem;
    width: 5 vw;
    height: 4vh;
  }
  .button-group button {
    margin: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
  }

  .footer-content p {
    font-size: 0.5rem;
    display: flex;
    margin-top: 1rem;
    color: #ffffff;
    margin-left: 0rem;
  }


}
