/* sobre nós*/

body {
  background-color: rgba(194, 237, 237, 0.406);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 40px;
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 10px 0;
}

a {
  margin: 0;
  display: flexbox;
  padding-left: 20px;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
}

nav {
  display: inline-block;
  float: right;
  padding-right: 20px;
  list-style: none;
  margin-right: 20px;
  padding: 0;
  display: inline;
  margin-left: 20px;
}

/* esconde o icones da nav em telas pequenos */
nav .icon {
  display: none;
}

/* mudar a cor dos links on hover */
.navbar a:hover {
  color: #2ab300;
}

/* quando a tela é menor que  600 pixels wide, esconde todos os links, exceto o  início. */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* O "responsive" class é adicionada a nav com JavaScriptquando usado clicks no icone. */
@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.hero {
  background: url("img/hero2.jpg") no-repeat center/cover;
  height: 400px;
  width: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  display: flex;
  font-size: 3em;
  margin: 0;
}

.main {
  text-align: center;
  margin-top: 10px;
  color: #010306;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: double;
  font-size: xx-large;
  padding: 20px;
}

.pd-40-bg-gray h1 {
  background-color: rgba(128, 128, 128, 0.194);
  height: 70px;
  color: rgb(255, 129, 3);
  text-align: center;
  font-size: xx-large;
  padding-block: 30px;
}

.sobre-nós h3 {
  line-height: 1.4;
  text-indent: 20px;
  font-size: xx-large;
  color: rgb(116, 116, 222);
  font-family: Arial, Helvetica, sans-serif;
}

.sobre-nós p {
  font-size: x-large;
  justify-content: center;
  text-indent: 20px;
  margin: 10px;
  line-height: 1.4;
}

.sobre-nós h1 {
  color: rgb(255, 129, 3);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.divisoria img {
  display: flexbox;
  padding: 10px;
  margin-left: 100px;
  align-items: center;
  width: 500px;
  border-radius: 20px;
}


.text-boxes {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
}

.text-box1 {
  color: rgb(255, 129, 3);
  border: #124a43 solid 2px;
  border-radius: 15px;
  margin: 15px;
  background-color: rgba(128, 128, 128, 0.194);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 40px;
}

.text-box {
  border: #124a43 solid 2px;
  border-radius: 15px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 40px;
}


footer {
  background-color: #333;
  height: 30px;
  padding: 0px;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Espaço entre os elementos */
  align-items: center; /* Centraliza verticalmente os elementos */
  background-color: #333;
}

.footer-content p {
  font-size: x-small;
  display: flex;
  margin-top: 20px;
  color: #ffffff;
  margin-left: 15px;
}

a {
  margin-right: 20px;
  padding-top: 20px;
 
}

a:hover {
  color: #1cb850;
}

@media (max-width: 600px) {
  .footer-content p,
  .footer-content a {
    margin-block: 40px;
  }

  .footer-content a {
    align-self: center; /* Centraliza o link no footer */
    font-size: medium;
  }

  .footer-content p {
    font-size: x-small;
    display: flex;
    margin-top: 0px;
  }
}
