/* sobre nós*/

body {
  background-color: rgba(194, 237, 237, 0.406);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container-principal {
  display: inline;
    width: 100vh;
    width: 100vw;
    margin-top: -50px;
    overflow: hidden;
  }


  header {
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    border-bottom: 1px solid #ccc;
  }
  
  header a {
    margin: 0;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    margin-right: 2rem; /* Espaço entre os links */
  }
  
  /* Estilo do logo */
  header > a {
    font-size: 2rem;
    font-weight: bold;
  }
  
  
  /* Estilo da navbar */
  .navbar {
    display: flex;
    flex-wrap: wrap; /* Ajusta a quebra de linha em dispositivos menores */
    margin-right: 1rem;
    
  }
  
  /* esconde o icones da nav em telas pequenos */
  nav .icon {
    display: none;
  }
  
  /* mudar a cor dos links on hover */
  .navbar a:hover {
    color: #2ab300;
  }
    
/*style do hero*/
.hero {
  background-image: url("img/hero2.jpg");
  background-size: cover; /* Faz com que a imagem cubra toda a área do body */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center center; /* Centraliza a imagem no body */
  height: 40vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container2 h2 {
  text-align: center;
  font-size: 3rem; 
  margin: 8rem;
}

.pd-40-bg-gray h1{
  background-color: rgba(128, 128, 128, 0.194);
  height: 5rem;
  color: rgb(255, 129, 3);
  text-align: center;
  font-size: 3rem;
  padding-block: 3rem;
}


.text-boxes {
  width: 100%; /* Para que ocupe a largura total disponível */
  max-width: 1500px; /* Limite máximo de largura */
  max-height: 1500px; /* Limite máximo de altura */
  height: auto; /* Ajusta a altura conforme o conteúdo */
  overflow: hidden; /* Oculta o conteúdo que ultrapassar o limite */
  margin: 0 auto; /* Centraliza a caixa */
  box-sizing: border-box; /* Inclui padding e border na largura e altura */
}

.text-box {
  text-align: justify; /* Justifica o texto dentro das caixas */
  padding: 10px; /* Espaçamento interno */
  background-color: #f0f0f0; /* Cor de fundo para visualização */
  border: 1px solid #ddd; /* Borda leve */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.text-box1 h1 {
  background-color: rgba(128, 128, 128, 0.194);
  height: 70rem;
  color: rgb(255, 129, 3);
  text-align: center;
  font-size: 3rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.sobre-nós h3 {
  line-height: 1.4;
  text-indent: 2rem;
  font-size: xx-large;
  color: rgb(116, 116, 222);
  font-family: Arial, Helvetica, sans-serif;
}

.sobre-nós p {
  font-size: x-large;
  justify-content: center;
  text-indent: 2rem;
  margin: 1rem;
  line-height: 1.4;
}

.fotos {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;

}

.fotos img {
  align-items: center;
  justify-content: center;
  width: 100%; /* Para que ocupe a largura total disponível */
  max-width: 1500px; /* Limite máximo de largura */
  max-height: 1500px; /* Limite máximo de altura */
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid #0d5439;
  align-self: center; /* Centraliza verticalmente na célula do grid */
  justify-self: center; /* Centraliza horizontalmente na célula do grid */

}
.text-boxes {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
}

.text-box {
  border: #124a43 solid 2px;
  background-color: #1cb8504d;
  color: rgb(23, 22, 22);
  border-radius: 15px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  font-size: 2rem;
}

.text-box1 {
  color: rgb(255, 129, 3);
  border: #124a43 solid 2px;
  border-radius: 15px;
  margin: 2rem;
  background-color: rgba(128, 128, 128, 0.194);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 4rem;
  font-size: 3rem;
}




  footer {
  background-color: #333;
 color: #ffffff;
}

.footer-content {
  background-color: #333;
  display: flex;
  height: 4rem;
  justify-content: space-between; /* Espaço entre os elementos */
  align-items: center; /* Centraliza verticalmente os elementos */
}

.footer-content p {
  font-size: x-small;
  margin-top: 1rem;
  margin: 0.2rem;
  color: #ffffff;
}

.footer-content a {
  text-decoration: none;
  margin-top: 0rem;
  color: #ffffff;
  margin-left: 0.1rem;
  margin-right: 1.2rem;
  padding-block: 0rem;
  font-size: 1.5rem;
}


a:hover {
  color: #1cb850;
}


    
/* Estilos para Mobile */

/* O "responsive" class é adicionada a nav com JavaScriptquando usado clicks no icone. */
  @media (max-width: 768px) {
    body {
      background-color: rgba(215, 238, 238, 0.954);
        background-size: contain; /* Ajusta para que a imagem fique toda visível, sem cortar */
        background-position: top; /* Alinha a imagem ao topo */
    }
    .navbar {
      flex-direction: column; /* Alinha os links verticalmente */
      display: none; 
      width: 100vw; /* Largura completa do menu */
      top: 60px; /* Posiciona abaixo do header */
      left: 0;
      background-color: #333; /* Cor de fundo do menu */
      position: absolute;
  }
  
  .navbar a {
      margin: 0.5rem 0; /* Espaçamento entre os links */
      text-align: right; 
  }

  .container2 h2 {
    text-align: center;
    font-size: 1rem; 
    margin: 0rem;
  }
  
  /* Exibe a navbar quando o menu é clicado */
.navbar.responsive {
  display: flex;
}

.navbar.responsive a {
  float: none;
  text-align: right;
}

/* Estilo do logo */
header > a {
  font-size: 1rem;
}
  /* Exibe o ícone do menu em telas menores */
  .icon {
      display: block; 
      font-size: 4rem;
      cursor: pointer;
      color: #fff; /* Cor do ícone */
  }

  
.pd-40-bg-gray h1{
  background-color: rgba(128, 128, 128, 0.194);
  height: 5rem;
  color: rgb(255, 129, 3);
  text-align: center;
  font-size: 1.5rem;
  padding-block: 2rem;
}


.text-boxes h1 {
  height: 4vh;
  margin: 0.3rem;
  font-size: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  width: 50vw;
}


.sobre-nós h3 {
  line-height: 1.4;
  text-indent: 0.5rem;
  font-size: 1rem;
  color: rgb(116, 116, 222);
  font-family: Arial, Helvetica, sans-serif;
}

.sobre-nós p {
  font-size: 1rem;
  justify-content: center;
  text-indent: 1rem;
  margin: 0.2remrem;
  line-height: 1.4;
  text-align: justify;
  
}

.fotos {
  gap: 1rem;
  padding: 0.5rem;

}

.fotos img {
  align-items: center;
 margin-left: 0rem;
 padding: 0.2rem;
  width: 90%;
  height: 60vh;
}

.text-boxes .text-box {
  font-size: 14px; /* Ajuste para o tamanho desejado */
  margin-bottom: 1rem; /* Diminui o espaço entre as caixas de texto */

}

.text-box1 h1 {
  color: rgb(255, 129, 3);
  border: #124a43 solid 2px;
  border-radius: 15px;
  margin: 1rem;
  background-color: rgba(128, 128, 128, 0.194);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 2rem;
  font-size: 2;
}

.text-box {
  border: #124a43 solid 2px;
  background-color: #58cb7e4d;
  color: rgb(6, 6, 6);
  border-radius: 15px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  font-size: 2rem;
}

.footer-content  {
  font-size: 0.3rem;
  display: flex; 
  color: #ffffff;
  height: 5vh;
  
}

  .footer-content p {
    font-size: 0.3rem;
    margin-top: 1rem;
    color: #ffffff;
    margin-left: 0rem;
  }
  
  .footer-content a {
    text-decoration: none;
    margin-top: 0rem;
    color: #ffffff;
    margin-left: 0.1rem;
    margin-right: 0.5rem;
    padding-block: 0rem;
    font-size: 0.8rem;
  }
}


